@import "mixins/mixins";
@import "common/var";


@include b(login) {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background: url('../../assets/img/logo_bg.jpg') 100% 100% no-repeat fixed;
    overflow: hidden;
    border: 10px solid red;
    background-attachment: fixed;

    @include when(center) {
        justify-content: center;
    }

    @include e(sign) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 50px 25px 50px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 1px 1px 2px #eee;

        @include when(center) {
            justify-content: center;
        }

        @include m(title) {
            font-size: $--font-h4;
            letter-spacing: 3px;
            color: #409eff;

            @include when(center) {
                text-align: center;
            }
        }
    }
}

@include b(sign-form) {
    margin: 10px 0;

    .el-form-item__content {
        width: 270px;
        height: 40px;
    }

    @include e(check) {
        margin: 10px 0 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m(size) {
            line-height: 19px;
            font-size: 14px;
            font-weight: 500;
            color: #606266;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: #409eff;
            }
        }
    }

    .is-hover {
        cursor: pointer;
    }

    .is-show {
        color: #606266;
    }

    @include e(login) {
        width: 270px;
        border-radius: 40px;
    }

    .el-icon-position {
        line-height: 40px;
    }

    @include m(send) {
        cursor: pointer;

        @include when(active) {
            color: #ccc;
        }
    }
}